<p>1. Insurance Information Institute, Homeowners Losses Ranked By Claims Frequency, 2022
<br>
2. National Highway Traffic Safety Administration, 2022
<br>
3. National Vital Statistics Report, Vol. 70, No. 8, Table 2, 2021
<br>
4. Bureau of Labor Statistics, Persons with a Disability: Labor Force Characteristics, Table 1, 2022</p>
<p>Like most disability insurance policies, MetLife's policies contain certain exclusions, exceptions, waiting periods, reductions, limitations and terms for keeping them in force. Ask your MetLife representative for complete costs and details.</p>
<p>All policies and riders may not be available in all states, at all issue ages and to all occupational classes. Ask your representative for complete details. Eligibility is subject to underwriting approval.</p>
<p>These policies provide disability income insurance only. Policies issued in New York do NOT provide basic hospital, basic medical or major medical insurance as defined by the New York State Insurance Department. The expected benefit ratio for these policies is at least 50%. This ratio is the portion of future premiums that MetLife expects to return as benefits when averaged over all people with the applicable policy.</p>
<p>Disability income insurance is issued by Metropolitan Life Insurance Company on IDI2000-P/NC-ML, IDI2000-P/GR, AH 7-96-CA and AH 8-96-CA.</p>