<div class="wrapper">
	<div class="row footer-legal">
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg footer-logo">
			<a href="landing.html" class="img-link">
				<img class="img-responsive" src="img/MetLife_Footer_Logo.png" alt="MetLife Footer Logo">
			</a>
		</div>
		<div class="footer-legal__logo-container col-xs-12 col-sm-3 col-md-2">
			<a href="landing.html" class="hidden-xs footer-legal__logo" id="auto-insurance_footer_global-footerImagePath">
				<img class="img-responsive" src="img/MetLife_Footer_Logo.png" alt="MetLife Footer Logo">
			</a>
		</div>
		<div class="footer-legal__copy col-xs-12 col-sm-9 col-md-10">
			<!--<div class="footer-legal__link">
				<a href="https://www.metlife.com/about-us/privacy-policy/online-privacy-policy/" id="auto-insurance_footer_global-footerbulletlinks1" target="_blank" aria-label="Privacy Policy">Privacy Policy</a>
				<span class="footer-legal__bullet"></span>
				<a href="https://www.metlife.com/about-us/terms-and-conditions/" id="auto-insurance_footer_global-footerbulletlinks2" target="_blank" aria-label="Legal Notices">Legal Notices</a>
				<span class="footer-legal__bullet hidden-xs"></span>
			</div>-->
			<div class="footer-legal__copyright">
				<p class="footer-legal__doc-id">
					Metropolitan Life Insurance Company, New York, NY 10166
					<br>
					LXXXXXXXXXX[expXXXX][All States]
					<br>
					&copy; {{currentDate.format("YYYY")}} MetLife Services and Solutions, LLC
				</p>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="footer-legal__copyright">
				<p class="footer-legal__doc-id">{{adf_number}}</p>
			</div>
		</div>
	</div>
</div>