<div class="global-header__row row wrapper">
	<div class="global-header__left">
		<a href="landing.html" class="img-link">
			<img src="img/MetLife_Header_Logo.png" alt="MetLife" class="global-header__logo global-header__logo-metlife img-responsive">
		</a>
	</div>
	<!-- <div class="global-header__right"> -->
		<!-- <a href="landing.html" style="display: inline-block;"> -->
			<!-- <img src="img/nysut-logo.png" alt="Teamsters" class="global-header__logo global-header__logo-sponsor img-responsive"> -->
		<!-- </a> -->
	<!-- </div> -->
</div>